<div class="top-bar">
  <div class="row text-right">
      <div class="col-md-3 offset-md-8 col-7 offset-3">
          <div style="display:inline-block ;border:2px solid black; border-radius: 5px;" id="search"><a [routerLink]="['/search']" style="text-decoration: none ;color: black">Search</a></div>
          <div style="display:inline-block">&nbsp;&nbsp;&nbsp;</div>
          <div style="display:inline-block ; border-radius: 5px;" id="booking" (click) = "clickBooking()"><a [routerLink]="['/booking']" style="text-decoration: none; color: black;">My Bookings</a></div>
      </div>
  </div>
</div>




