<div class="noinfo" *ngIf="noReservation">
    <div class="row">
        <h1 class="col-md-12 col-xs-12" style="color: red; text-align:center; margin-top: 200px;">No reservations to show</h1>
    </div>
</div>

<div class="infoContainer" *ngIf="existReservation">
    <div class="row">
        <h1 class="col-md-12 col-xs-12" style="color: black; text-align:center">List of your reservations</h1>
    </div>
    <div class="row" style="margin-top: 50px; text-align:center">
        <table class="table table-hover mx-auto w-auto" style="border:1px solid black; background-color: white; ">
            <thead >
                <tr style="width:50%">
                    <th>#</th>
                    <th>Business Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let info of data, let i = index">
                    <tr>
                        <td>{{i}}</td>
                        <td id="businessName">{{info.reserveName}}</td>
                        <td>{{info.reserveDate}}</td>
                        <td>{{info.reserveTime}}</td>
                        <td style="word-wrap:break-word;">{{info.reserveEmail}}</td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" (click) = "deleteItem()" style="cursor: pointer;">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
